# Tests
tests
tests_*

# Docs
docs/src/*
# Except keep these files.
!docs/src/SUMMARY.md.tmpl
!docs/src/SUMMARY.md
!docs/src/README.md

docs/book
docs/*.zip
docs/doxybook2
docs/xml

!docs/book.toml
!docs/.doxybook
!docs/Doxyfile
!docs/README.md
!docs/server.sh

# Prerequisites
d/
*.d

# Archives
*.zip

# Object files
obj/
objs/
o/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
